.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    min-height: 45px;
    border-radius: 5px;
    padding-left: 18px;
}

.equal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    height: 100%;
}

.table-frame {
    border: 1px solid #ebedf3;
    border-radius: 5px;
    margin-bottom: 32px;
    padding: 5px;
}

input {
    height: 24px;
}

.icon-function {
    font-style: italic;
}

.icon-function-normal {
    font-weight: normal;
    color: gray;
}

.icon-function-active {
    font-weight: bold;
    color: blue;
}

.transfer-container {
    background-color: #fafafa;
    border: 1px solid #bdcdd4;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 10px;
}

.transfer-labels {
    color: #5A5EFF;
    font-size: 16px;
    margin-bottom: 12px;
}

.transfer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}